@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 95%; /* 手機端稍微縮小一點確保不換行 */
}

@media (min-width: 768px) {
  html {
    font-size: 110%; /* 電腦端維持放大 */
  }
}

.animate-in {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
